2do Año Bios/2-Aplicaciones Distribuidas/5-Aplicaciones Distribuidas/05B - CasoEstudioWebServiceEsqueleto/PresentacionWin/Web References/WSArticulos/servicioarticulos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCodigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Articulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="art" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaArticuloResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="art" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaArticuloResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="art" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarArticuloResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarArticulo">
        <s:complexType />
      </s:element>
      <s:element name="ListarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarArticuloResult" type="tns:ArrayOfArticulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articulo" nillable="true" type="tns:Articulo" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarArticulo" />
  </wsdl:message>
  <wsdl:message name="BuscarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="AltaArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:AltaArticulo" />
  </wsdl:message>
  <wsdl:message name="AltaArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:AltaArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="BajaArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:BajaArticulo" />
  </wsdl:message>
  <wsdl:message name="BajaArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:BajaArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarArticulo" />
  </wsdl:message>
  <wsdl:message name="ModificarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="ListarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:ListarArticulo" />
  </wsdl:message>
  <wsdl:message name="ListarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:ListarArticuloResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioArticulosSoap">
    <wsdl:operation name="BuscarArticulo">
      <wsdl:input message="tns:BuscarArticuloSoapIn" />
      <wsdl:output message="tns:BuscarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaArticulo">
      <wsdl:input message="tns:AltaArticuloSoapIn" />
      <wsdl:output message="tns:AltaArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaArticulo">
      <wsdl:input message="tns:BajaArticuloSoapIn" />
      <wsdl:output message="tns:BajaArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulo">
      <wsdl:input message="tns:ModificarArticuloSoapIn" />
      <wsdl:output message="tns:ModificarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarArticulo">
      <wsdl:input message="tns:ListarArticuloSoapIn" />
      <wsdl:output message="tns:ListarArticuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioArticulosSoap" type="tns:ServicioArticulosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarArticulo">
      <soap:operation soapAction="http://tempuri.org/BuscarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaArticulo">
      <soap:operation soapAction="http://tempuri.org/AltaArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaArticulo">
      <soap:operation soapAction="http://tempuri.org/BajaArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulo">
      <soap:operation soapAction="http://tempuri.org/ModificarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarArticulo">
      <soap:operation soapAction="http://tempuri.org/ListarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioArticulosSoap12" type="tns:ServicioArticulosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarArticulo">
      <soap12:operation soapAction="http://tempuri.org/BuscarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaArticulo">
      <soap12:operation soapAction="http://tempuri.org/AltaArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaArticulo">
      <soap12:operation soapAction="http://tempuri.org/BajaArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulo">
      <soap12:operation soapAction="http://tempuri.org/ModificarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarArticulo">
      <soap12:operation soapAction="http://tempuri.org/ListarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioArticulos">
    <wsdl:port name="ServicioArticulosSoap" binding="tns:ServicioArticulosSoap">
      <soap:address location="http://pc124s8/servicioArticulos/servicioarticulos.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioArticulosSoap12" binding="tns:ServicioArticulosSoap12">
      <soap12:address location="http://pc124s8/servicioArticulos/servicioarticulos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>